.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

View, Image, Text, Button {
    box-sizing: border-box;
}

Button::after {
    border: none;
}

// iconfont
@font-face {
    font-family: 'iconfont';  /* project id 1473384 */
    src: url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.eot');
    src: url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.woff') format('woff'),
    url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1473384_7vqhsawbr1g.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zuo:before {
    content: "\e638";
}

.icon-home:before {
    content: "\e623";
}

.icon-location:before {
    content: "\e7ba";
}

.icon-you:before {
    content: "\e639";
}

.icon-collect:before {
    content: "\e60f";
}

.icon-github:before {
    content: "\e689";
}

.icon-history:before {
    content: "\e608";
}

.icon-help:before {
    content: "\e60d";
}
