.container {
    transform: translateX(-85vw);

    .content-right {
        width: 100vw;
        background: transparent;

        .main-content {
            background: #ddd;
            width: 100%;
            height: 100%;
        }
    }

    .content-left {
        width: 85vw;
        height: 100vh;
        padding: 200px 0 0 40px;
        background: rgba(0,0,0,.1);
    }

    .next {
        right: 40px;
        bottom: 40px;
    }

    .prev {
        right: 40px;
        bottom: 100px;
    }
}
